body {
	margin: 0;
	padding: 0;
	background-color: pink;
	background: url(bg2.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.loginbox{
	width:450px;
	height:600px;
	background: #345B58;
	color:  	#dac1a0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	opacity: 0.9;
}
.avatar{
	display: block;
	width: 50%;
	height: 25%;
	position: center;
	margin-left: auto;
	margin-right: auto;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 15px;
}
.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom:20px;
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom:20px;
	background: white;
}
.login input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: red;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input [type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: black;
}
.loginbox a:hover
{
	color: #ffc107;
}
